@custom-media --large-desktop-screen (1024px <= width <= 1640px);

@custom-media --small-desktop-screen (810px <= width < 1024px);

@custom-media --tablet-screen (768px <= width < 810px);

@custom-media --phone-screen (width < 768px);