@import '../shared/breakpoints.css';

.solution-section {
  display: block;
  height: auto;
}

.solution-section-inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.heading {
  display: inline-block;
  font-size: 46px;
  font-weight: 500;
  width: 100%;
  margin: 60px;

  @media (--small-desktop-screen) {
    margin: 30px;
  }

  @media (--phone-screen) {
    margin: 20px 20px 26px;
  }
}

.flex-text-block {
  align-self: flex-start;
}

.list-heading {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.solutions-list {
  list-style: none;
  margin-left: 0;
  padding-left: 40px;
  text-indent: -40px;
  color: var(--mainTextColor);

  & li {
    max-width: 260px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}

.check-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
}

.solution-image {
  margin-bottom: 60px;
  padding-right: 60px;

  & img {
    max-width: 100%;
  }

  @media (--small-desktop-screen) {
    padding-right: 30px;
    margin-bottom: 30px;
  }

  @media (--phone-screen) {
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
