@import '../shared/breakpoints.css';

.list-section {
  display: block;
  height: auto;
}

.list-section-inner {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.why-section {
  @media (--phone-screen) {
    padding-bottom: 0;
  }
}

.why-inner {
  margin: 0 auto;
  text-align: left;
  max-width: 1440px;

  @media (--large-desktop-screen) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (--small-desktop-screen) {
    padding-left: 50px;
    padding-right: 50px;
  }

  @media (--phone-screen) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.heading {
  display: inline-block;
  font-size: 46px;
  line-height: 46px;
  font-weight: 500;
  width: 100%;
  margin: 60px;

  @media (--small-desktop-screen) {
    margin: 30px;
  }

  @media (--phone-screen) {
    margin: 0 20px 26px;
    font-size: 25px;
    line-height: 25px;
  }
}

.flex-text-block {
  align-self: flex-start;
  flex-basis: 300px;

  &:first-of-type {
    flex-basis: 260px;
  }
}

.list-heading {
  font-size: 24px;
  line-height: 24px;
  font-weight: 300;
  margin: 0;

  @media (--phone-screen) {
    font-size: 18px;
    line-height: 18px;
  }
}

.list {
  list-style: none;
  margin: 24px 0 60px;
  padding-left: 42px;
  text-indent: -42px;
  color: var(--mainTextColor);

  @media (--phone-screen) {
    margin: 18px 0 0 0;
    padding-left: 22px;
    text-indent: -22px;
  }

  & li {
    max-width: 300px;
    font-size: 16px;
    margin-bottom: 15px;

    @media (--phone-screen) {
      margin-bottom: 10px;
    }
  }

  & li:last-of-type {
    margin-bottom: 0;
  }
}

.main-image {
  margin-bottom: 60px;
  padding-right: 60px;

  & img {
    max-width: 100%;
  }

  @media (--small-desktop-screen) {
    padding-right: 30px;
    margin-bottom: 30px;
  }

  @media (--phone-screen) {
    padding-right: 20px;
    margin-bottom: 0;
  }
}
