* {
  box-sizing: border-box;
}

:root {
  --backgroundColor: #29292F;
  --backgroundDarkColor: #242429;  
  --mainTextColor: #B0B0B0;
  --headingTextColor: #FFF;
}

body {
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: var(--backgroundColor);
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
