@import 'shared/breakpoints.css';

.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  padding: 0;
  height: 60px;
  line-height: 60px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  font-weight: 500;

  background: none;
  text-decoration: none;
  text-transform: uppercase;
}

.btn:disabled {
  color: #3f3f44;
  border: 2px solid #3f3f44;
}

.btn-large {
  width: 250px;
}

.btn-small {
  width: 170px;
}

.blue-theme {
  color: var(--tethysBlue);
  border: 2px solid var(--tethysBlueBorder);
}

.green-theme {
  color: var(--tethysGreen);
  border: 2px solid var(--tethysGreenBorder);
}

@media (--phone-screen) {
  .btn {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
  }

  .btn-large {
    width: 125px;
  }

  .btn-small {
    width: 86px;
  }
}
