.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  padding: 18px 0;
  width: 250px;
  font-size: 18px;

  color: #4AE7F0;
  border: 1px solid #326970;
  text-decoration: none;
  text-transform: uppercase;
}
