.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;

  padding: 0;
  height: 60px;
  line-height: 60px;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 24px;
  font-weight: 500;

  color: #4AE7F0;
  border: 1px solid #326970;
  background: none;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-large {
  width: 250px;
}

.btn-small {
  width: 170px;
}
