@import 'shared/breakpoints.pcss';

.container {
  text-align: center;
}

.heading {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 50px;
}

.count-down {
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-size: 15px;

  & canvas {
    margin: 0 10px;
  }
}

@media (--phone-screen) {
  .heading {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 21px;
  }

  .count-down canvas {
    margin: 0 6px;
  }
}
