@import 'shared/breakpoints.css';

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: no-repeat fixed center top;
}

.red-halo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.green-halo {
  position: fixed;
  top: 300px;
  right: 0;
  z-index: -1;
}

.home-content {
  width: 100%;
  margin: 190px 0 110px;
  overflow-x: hidden;
  z-index: 1;
}

.home-content > section:not(.wide-section) {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media (--large-desktop-screen) {
    margin-left: 100px;
    margin-right: 100px;
  } @media (--small-desktop-screen) {
    margin-left: 50px;
    margin-right: 50px;
  } @media (--phone-screen) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (--small-phone-screen) {
  .home-content > section.value-prop-section {
    margin-left: 0;
    margin-right: 0;
  }
}

.heading {
  max-width: 675px;
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 400;
  color: var(--headingTextColor);
}

.value-prop-section {
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 120px;

  & .heading {
    max-width: 490px;
  }

  & p {
    color: var(--mainTextColor);
    max-width: 445px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.flex-text-block {
  flex: 1 0 375px;
  padding: 0 60px;
  align-self: center;
}

.flex-image-block {
  flex: 1 0 330px;

  & img {
    max-width: 110%;
  }
}

.network-image {
  max-height: 100%;
}

.boxed-section {
  background-color: var(--backgroundDarkColor);
}

.wide-section {
  text-align: center;
  margin-bottom: 120px;
  width: 100%;

  & .heading {
    margin-left: auto;
    margin-right: auto;
  }

  & a:first-of-type {
    margin-right: 40px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;

  & > * {
    margin: 10px;
  }
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

@media (--small-desktop-screen) {
  .value-prop-section {
    height: 430px;
  }

  .value-prop-section:not(.boxed-section) {
    height: auto;
  }

  .flex-text-block {
    flex-basis: 395px;
    padding: 0 30px;
  }

  .flex-image-block {
    flex-basis: 270px;
  }
}

@media (--phone-screen) {
  .background-image {
    background-size: 232%;
  }

  .red-halo {
    width: 260px;
  }

  .green-halo {
    width: 243px;
  }

  .home-content {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .heading {
    line-height: 26px;
    margin-bottom: 14px;
    font-size: 20px;
  }

  .boxed-section {
    padding-top: 26px;
    padding-bottom: 30px;
  }

  .flex-text-block {
    padding: 0 20px 26px;
    flex-basis: 330px;
  }

  .flex-image-block {
    padding: 0 20px;

    & img {
      max-width: 100%;
    }
  }

  .value-prop-section {
    height: auto;
    margin-bottom: 60px;

    & p {
      max-width: 96%;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  .wide-section {
    margin-bottom: 56px;

    & a:first-of-type {
      margin-right: 22px;
    }
  }
}
