@import 'shared/breakpoints.css';

.top-nav {
  height: 72px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat fixed center top var(--backgroundColor);
  overflow: hidden;
  z-index: 2;

  & .nav-inner {
    padding: 0 30px;
    height: 100%;
  }

  & .nav-halo {
    position: absolute;
  }

  & .nav-logo {
    margin-top: 20px;
  }

  & .nav-links {
    float: right;
    display: flex;
    align-items: center;
    height: 100%;

    & a {
      font-family: 'Barlow Condensed', sans-serif;
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      margin-right: 50px;
      letter-spacing: 0.4px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  width: 100%;
  background: no-repeat fixed center top;
}

.red-halo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.green-halo {
  position: fixed;
  top: 300px;
  right: 0;
  z-index: -1;
}

.home-content {
  width: 100%;
  margin: 190px 0 110px;
  overflow-x: hidden;
  z-index: 1;
}

.home-content > section:not(.wide-section), .nav-inner {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;

  @media (--large-desktop-screen) {
    margin-left: 100px;
    margin-right: 100px;
  } @media (--small-desktop-screen) {
    margin-left: 50px;
    margin-right: 50px;
  } @media (--phone-screen) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (--small-phone-screen) {
  .home-content > section.value-prop-section, .home-content > section.more-info-section {
    margin-left: 0;
    margin-right: 0;
  }
}

.logo {
  height: 220px;
  margin: 0 auto 75px;
}

.hero-section {
  height: auto;
  text-align: center;
  margin-bottom: 120px;

  & a:first-of-type {
    margin-right: 40px;
  }

  & .heading {
    font-size: 28px;
    margin: 0 auto 50px;
  }
}

.heading {
  max-width: 675px;
  margin: 0 0 20px;
  font-size: 30px;
  font-weight: 400;
  color: var(--headingTextColor);
}

.value-prop-section {
  height: 530px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 120px;

  & .heading {
    max-width: 490px;
  }

  & p {
    color: var(--mainTextColor);
    max-width: 445px;
    font-size: 16px;
    line-height: 1.5;
  }
}

.flex-text-block {
  flex: 1 0 375px;
  padding: 0 60px;
  align-self: center;
}

.flex-image-block {
  flex: 1 0 330px;

  & img {
    max-width: 110%;
  }
}

.network-image {
  max-height: 100%;
}

.boxed-section {
  background-color: var(--backgroundDarkColor);
}

.wide-section {
  text-align: center;
  margin-bottom: 120px;
  width: 100%;

  & .heading {
    margin-left: auto;
    margin-right: auto;
  }

  & a:first-of-type {
    margin-right: 40px;
  }
}

.learn-more-section {
  height: 260px;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .heading {
    width: 100%;
    margin-bottom: 50px;
  }
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -10px;

  & > * {
    margin: 10px;
  }
}

.subscribe-section {
  flex: 1 0 750px;
  text-align: left;
  padding: 60px;

  @media (width < 900px) {
    flex-basis: 60%;
  }

  & .heading {
    margin-bottom: 40px;
  }
}

.links-section {
  flex: 1 0 300px;
  text-align: left;
  padding: 60px;

  @media (width < 900px) {
    flex-basis: 60%;
  }

  & .links-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 15px 0 0 0;
    margin: 0;

    & li {
      flex: 1 0 40%;
      margin-bottom: 20px;
      min-width: 185px;
    }

    & li > a {
      color: var(--mainTextColor);
      font-size: 20px;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 16px;

  height: 100px;
  text-align: center;
  color: var(--mainTextColor);
  background-color: var(--backgroundDarkColor);

  & a {
    color: var(--mainTextColor);
  }
}

.reverse-wrap {
  flex-wrap: wrap-reverse;
}

@media (--small-desktop-screen) {
  .value-prop-section {
    height: 430px;
  }

  .value-prop-section:not(.boxed-section) {
    height: auto;
  }

  .flex-text-block {
    flex-basis: 395px;
    padding: 0 30px;
  }

  .flex-image-block {
    flex-basis: 270px;
  }
}

@media (--phone-screen) {
  .top-nav {
    height: 50px;
    background-size: 232%;

    & .nav-inner {
      padding: 0;
    }

    & .nav-logo {
      height: 20px;
      margin-top: 15px;
    }

    & .nav-links {
      & a {
        font-size: 13px;
      }
    }
  }

  .background-image {
    background-size: 232%;
  }

  .red-halo {
    width: 260px;
  }

  .green-halo {
    width: 243px;
  }

  .home-content {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .logo {
    height: 98px;
    margin: 0 auto 54px;
  }

  .hero-section {
    margin-bottom: 60px;

    & .heading {
      line-height: 26px;
      font-size: 20px;
      max-width: 336px;
      margin-bottom: 25px;
    }
    & a:first-of-type {
      margin-right: 22px;
    }
  }

  .heading {
    line-height: 26px;
    margin-bottom: 14px;
    font-size: 20px;
  }

  .boxed-section {
    padding-top: 26px;
    padding-bottom: 30px;
  }

  .flex-text-block {
    padding: 0 20px 26px;
    flex-basis: 330px;
  }

  .flex-image-block {
    padding: 0 20px;

    & img {
      max-width: 100%;
    }
  }

  .value-prop-section {
    height: auto;
    margin-bottom: 60px;

    & p {
      max-width: 96%;
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 0;
    }
  }

  .wide-section {
    margin-bottom: 56px;

    & a:first-of-type {
      margin-right: 22px;
    }
  }

  .learn-more-section {
    height: 134px;
    padding: 0;

    & .heading {
      margin-bottom: 21px;
    }
  }

  .subscribe-section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 27px;

    & .heading {
      margin-bottom: 15px;
    }
  }

  .links-section {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 22px;

    & .heading {
      margin-bottom: 8px;
    }

    & .links-list {
      padding-top: 2px;

      & li {
        min-width: 0;
        margin-bottom: 0;
      }

      & li > a {
        font-size: 14px;
        line-height: 26px;
      }
    }
  }

  .footer {
    font-size: 8px;
    height: 48px;
  }
}
