@mixin size($w, $h) {
  height: $h;
  width: $w;
}

@mixin draw-progress($progress) {
  @if $progress <= 50 {
    .pie {
      .right-side {
        display: none;
      }
    }
  } @else {
    .pie {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }

  .pie {
    .half-circle {
      border-color: #36B3C1;
    }

    .left-side {
      $rotate: $progress * 3.6;
      transform: rotate(#{$rotate}deg);
      transition: transform linear 1.1s;
    }
  }
}

.container {
  font-size: 10em;
  clear: both;
  content: "";
  display: table;
}

$bg: #34495e;
$size: 1em;

.pie-wrapper {
  @include size($size, $size);
  float: left;
  margin: 15px;
  position: relative;

  &:nth-child(3n+1) {
    clear: both;
  }

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $size, $size, $size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: $size / 10 solid #3498db;
      border-radius: 50%;
      clip: rect(0, $size / 2, $size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .inner {
    $font-size: $size / 4;
    $font-size-redo: $size * 4;

    background: none;
    border-radius: 50%;
    bottom: $font-size-redo / 10;
    color: white;
    cursor: default;
    font-size: $font-size;
    left: $font-size-redo / 10;
    line-height: $font-size-redo * 0.65;
    position: absolute;
    right: $font-size-redo / 10;
    text-align: center;
    top: $font-size-redo / 10;
  }

  .value {
    font-size: 1.6em;
    line-height: 1.6em;
  }

  .label {
    font-size: 0.4em;
    line-height: 0.4em;
  }

  .shadow {
    @include size(100%, 100%);
    border: $size / 10 solid #242429;
    border-radius: 50%;
  }

  @for $n from 0 through 100 {
    &.progress-#{$n} {
      @include draw-progress($n);
    }
  }
}
